
<div class="panel panel-default">
  <div class="panel-heading w3-light-gray">All Videos
    <button type="button" class="btn btn-xs btn-primary pull-right" onclick="reloadThumbs();">Reload Thumbnails</button>
  </div>
  <div class="panel-body">
    <div class="row">
      {{#each data}}
        {{>vtile this}}
      {{/each}}
    </div>
  </div>
</div>

<div class="container-fluid container-player">
<div class="panel panel-default">
  <div class="panel-heading w3-light-gray">Preset Video</div>
  <div class="panel-body">
    <p>This video will be automatically played during video intro presets
      {{#each data}}
        {{#if this.isDefault}}
          {{>dtile this}}
        {{/if}}
      {{/each}}
  </div>
</div>
</div>
