<h2>{{title}}</h2>
<br>
<div class="panel panel-default">
  <div class="panel-heading w3-light-gray">Playback</div>
  <div class="panel-body" id="player-info">
    <p>Nothing Playing
  </div>
  <div class="loop-toggle">
    <p>Loop</p>
  {{#if loop}}
    <input onchange = "setLoopState(this)" type="checkbox" name="loop-check" checked>
  {{else}}
    <input onchange = "setLoopState(this)" type="checkbox" name="loop-check">
  {{/if}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading w3-light-gray">All Videos</div>
  <div class="panel-body">
    <div class="row">
      {{#each data}}
        {{>vtile this}}
      {{/each}}
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading w3-light-gray">Preset Video</div>
  <div class="panel-body">
    <p>This video will be automatically played during video intro presets
      {{#each data}}
        {{#if this.isDefault}}
          {{>vtile this}}
        {{/if}}
      {{/each}}
  </div>
</div>

<script src="/js/vlcQuery.js"></script>
