
<div class="panel panel-default">
  <div class="panel-heading w3-light-gray">Web Media
    <div class="panel-body">
      <p>Enter a URL
      <input name="urlbox1" id="urlbox" type="text" />
      <input class="btn btn-sm btn-info"name="buttonExecute" onclick="playURL(document.getElementById('urlbox').value)" type="button" value="Load" />
      <input class="btn btn-sm btn-success" name="buttonExecute" onclick="sendCommand({'command': ['set_property', 'pause', false]})" type="button" value="Play" />
    </div>
  </div>
</div>
</div>
