body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card-wrapper{
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-trans{
  border: none;
  background: none;
}

.img-mini-btn{
  width: 24px;
  height: 24px;
  margin: 5px;
}

.btn-preset{
  margin-top: 8px;
}

.ext-tag{
  margin-top: 8px;
}

.loop-toggle{
  margin: 15px;
  padding-right: 15px;
}
