<div class="w3-card">
  <header class="w3-container w3-light-gray">
    <p>{{this.name}} <span class="label label-default pull-right ext-tag">{{this.ext}}</span></p>
  </header>
  <footer class="w3-container w3-light-gray">
    <button class="btn-trans" id="{{this.name}}{{this.ext}}" onclick="playAudio(this.id);">
      <img src="/img/play.png" class="img-mini-btn">
    </button>
  </footer>
</div>
