<div class="w3-card atile-card">
  <header class="w3-container">
    <p>{{this.name}} <span class="label label-default pull-right ext-tag">{{this.ext}}</span></p>
  </header>
  <div class="w3-container alist-tile">
    <button class="btn-trans" id="{{this.fullPath}}" onclick="playURL(this.id);" data-toggle="tooltip" title="Play">
      <i class="fa fa-play" style="font-size: 1.5em;"></i>
    </button>
    <button class="btn-trans" id="{{this.fullPath}}" onclick="appendList(this.id);" data-toggle="tooltip" title="Add to Playlist">
      <i class="fa fa-plus-square" style="color: #51A351; font-size: 1.5em;"></i>
    </button>
  </div>
</div>
