<div class="col-sm-3 card-wrapper">
  <div class="w3-card">
    <header class="w3-container w3-light-gray">
      <p>{{this.name}}</p>
    </header>
    <div class="w3-container">
      <p>No Thumbnail</p>
    </div>
    <footer class="w3-container w3-light-gray">
      <button class="btn-trans" id="{{this.name}}{{this.ext}}" onclick="playVideo(this.id);">
        <img src="/img/play.png" class="img-mini-btn">
      </button>
      <span class="label label-default">{{this.ext}}</span>
    </footer>
  </div>
</div>
